@import './reset.css';
header {
  padding-top: 40px;
  padding-bottom: 20px;
  color: #fff;
  position: absolute;
  width: 100%;
}
header.fixed {
  background-color: #7a6ad8 !important;
  padding: 15px 0;
  border-radius: 0px 0px 25px 25px;
  position: fixed !important;
  top: 0 !important;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
  left: 0;
  right: 0;
  z-index: 100;
}
header.fixed .nav-mobile {
  top: 84px;
}
header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
header .content .header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .content .header-left .logo {
  font-size: 36px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  padding-right: 20px;
  border-right: 1px solid rgba(250, 250, 250, 0.3);
  outline: none;
}
header .content .header-left .input-box {
  position: relative;
  display: flex;
  align-items: center;
}
header .content .header-left .input-box input {
  background-color: rgba(255, 255, 255, 0.1);
  height: 44px;
  width: 250px;
  border-radius: 23px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  padding-left: 20px;
  padding-right: 40px;
}
header .content .header-left .input-box input::-moz-placeholder {
  color: #d4d4d4;
}
header .content .header-left .input-box input::placeholder {
  color: #d4d4d4;
}
header .content .header-left .input-box input:focus {
  outline: 1px solid #d4d4d4;
}
header .content .header-left .input-box i {
  position: absolute;
  color: #fff;
  font-size: 16px;
  right: 20px;
}
header .content .header-right .open-menu-btn, header .content .header-right .close-menu-btn {
  display: none;
}
header .content .header-right .open-menu-btn i, header .content .header-right .close-menu-btn i {
  color: #d4d4d4;
  font-size: 24px;
}
header .content .header-right .nav-desktop ul {
  display: flex;
  gap: 10px;
}
header .content .header-right .nav-desktop ul li a {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  padding: 0 20px;
  height: 40px;
  border-radius: 20px;
  background-color: transparent;
  transition: 0.2s;
}
header .content .header-right .nav-desktop ul li a.active {
  background-color: rgba(255, 255, 255, 0.1);
}
header .content .header-right .nav-desktop ul li a:hover {
  color: #d4d4d4;
}
header .nav-mobile {
  position: absolute;
  top: 94px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 99;
  transition: 0.3s;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
}
header .nav-mobile.t-1 {
  transition: 0.3s;
  transform-origin: top;
  transform: scaleY(1);
  opacity: 1;
}
header .nav-mobile.t-0 {
  transition: 0.3s;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
}
header .nav-mobile ul {
  width: 85%;
  background-color: #f1f0fe;
  border-radius: 0px 0px 25px 25px;
}
header .nav-mobile ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  color: #1e1e1e;
  height: 40px;
  border-radius: 0px 0px 25px 25px;
  border-top: 1px solid #ddd;
  background-color: #f1f0fe;
  transition: 0.2s;
}
header .nav-mobile ul li a.active {
  background-color: #fff;
  color: #7a6ad8;
}
header .nav-mobile ul li a:hover {
  color: #7a6ad8;
}

.home {
  padding-bottom: 20px;
}
.home .hero {
  padding-top: 170px;
  padding-bottom: 140px;
  background-image: url("https://templatemo.com/templates/templatemo_586_scholar/assets/images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.home .hero .content .swiper {
  position: relative;
  display: flex;
}
.home .hero .content .swiper .swiper-slide {
  padding-left: 130px;
}
.home .hero .content .swiper .swiper-button-next, .home .hero .content .swiper .swiper-button-prev {
  background-color: rgba(255, 255, 255, 0.5);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  opacity: 1;
  transition: all 0.3s;
  position: absolute;
  left: 0;
}
.home .hero .content .swiper .swiper-button-next::after, .home .hero .content .swiper .swiper-button-prev::after {
  font-size: 24px !important;
}
.home .hero .content .swiper .swiper-button-prev {
  top: 80%;
}
.home .hero .content .swiper .swiper-button-next {
  top: 90%;
}
.home .hero .content .content-box {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 25px;
  padding: 100px 100px;
  width: 100%;
  height: 100%;
}
.home .hero .content .content-box .content-body {
  margin-bottom: 50px;
}
.home .hero .content .content-box .content-body .content-title {
  background-color: #7a6ad8;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px 15px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 50px;
}
.home .hero .content .content-box .content-body .content-desc {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  line-height: 70px;
  width: 60%;
  margin-bottom: 40px;
}
.home .hero .content .content-box .content-body .content-subdesc {
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  width: 65%;
}
.home .hero .content .content-box .content-footer {
  display: flex;
  align-items: center;
  gap: 30px;
}
.home .hero .content .content-box .content-footer .demo-link {
  font-size: 14px;
  color: #7a6ad8;
  background-color: #fff;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0px 25px;
  border-radius: 25px;
  font-weight: 500;
}
.home .hero .content .content-box .content-footer .play-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.home .hero .content .content-box .content-footer .play-link .circle {
  background-color: #fff;
  display: inline-block;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.home .hero .content .content-box .content-footer .play-link .circle i {
  color: #7a6ad8;
  font-size: 16px;
}

.services {
  margin-top: 80px;
  padding-top: 30px;
}
.services .services-cards .content-box {
  border-radius: 25px;
  padding: 80px 30px 50px 30px;
  background-color: #f1f0fe;
  margin-bottom: 120px;
  margin-right: 80px;
  transition: all 0.4s;
  position: relative;
}
.services .services-cards .content-box:hover .content-head img {
  transform: translateY(-3px);
}
.services .services-cards .content-box .content-head {
  width: 170px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #7a6ad8;
  border-radius: 50%;
  position: absolute;
  right: -80px;
  top: -95px;
}
.services .services-cards .content-box .content-head img {
  max-width: 86px;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.2s;
}
.services .services-cards .content-box .content-main .content-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
  line-height: 30px;
  transition: all 0.4s;
}
.services .services-cards .content-box .content-main .content-desc {
  color: #4a4a4a;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 28px;
}
.services .services-cards .content-box .content-main .content-link {
  display: inline-block;
  background-color: #fff;
  color: #7a6ad8;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  padding: 0px 25px;
  border-radius: 20px;
  transition: all 0.3s;
}
.services .services-cards .content-box .content-main .content-link:hover {
  background-color: #7a6ad8;
  color: #fff;
}

.about-us {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0px;
  align-items: center;
}
.about-us::after {
  content: "";
  position: absolute;
  right: 0;
  z-index: -1;
  width: 84%;
  background-color: #f1f0fe;
  height: 90%;
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
}
.about-us .questions {
  background-color: #7a6ad8;
  border-radius: 40px;
  padding: 80px 50px 50px 50px;
}
.about-us .questions .accordion .accordion-item {
  background-color: #fff;
  border-radius: 40px !important;
  margin-bottom: 30px;
  border: none;
}
.about-us .questions .accordion .accordion-item .accordion-header {
  color: #1e1e1e;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
}
.about-us .questions .accordion .accordion-item .accordion-header button {
  padding: 15px 25px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.about-us .questions .accordion .accordion-item .accordion-header button.collapsed::after {
  content: "+";
}
.about-us .questions .accordion .accordion-item .accordion-header button::after {
  content: "-";
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: #7a6ad8;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background-image: none;
}
.about-us .about-us-box {
  margin-left: 60px;
}
.about-us .about-us-box .about-us-header {
  color: #7a6ad8;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
.about-us .about-us-box .about-us-title {
  font-size: 36px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 20px 0;
  line-height: 44px;
}
.about-us .about-us-box .about-us-desc {
  font-size: 14px;
  line-height: 28px;
  color: #4a4a4a;
  margin-bottom: 50px;
}
.about-us .about-us-box a {
  display: inline-block;
  background-color: #fff;
  color: #7a6ad8;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  padding: 0px 25px;
  border-radius: 20px;
  transition: all 0.3s;
}
.about-us .about-us-box a:hover {
  background-color: #7a6ad8;
  color: #fff;
}

.courses {
  margin-top: 60px;
  margin-bottom: 60px;
}
.courses .latest-courses .courses-subtitle {
  color: #7a6ad8;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}
.courses .latest-courses .courses-title {
  font-size: 36px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 20px 0;
  line-height: 44px;
  text-align: center;
  margin-bottom: 60px;
}
.courses .latest-courses .category-list {
  background-color: #f1f0fe;
  border-radius: 50px;
  padding: 15px 40px;
  list-style: none;
  margin: 0 auto 70px;
  max-width: -moz-max-content;
  max-width: max-content;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.courses .latest-courses .category-list li a {
  font-size: 14px;
  font-weight: 500;
  color: #1e1e1e;
  transition: all 0.3s;
}
.courses .latest-courses .category-list li a:hover {
  color: #7a6ad8;
}
.courses .latest-courses .courses-cards .content-box {
  background-color: #f1f0fe;
  border-radius: 25px;
  margin-bottom: 30px;
  position: relative;
}
.courses .latest-courses .courses-cards .content-box:hover .content-head .price {
  transform: scale(1.2);
}
.courses .latest-courses .courses-cards .content-box:hover .content-body .content-title {
  color: #7a6ad8;
}
.courses .latest-courses .courses-cards .content-box .content-head {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 250px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}
.courses .latest-courses .courses-cards .content-box .content-head .category {
  position: absolute;
  font-size: 14px;
  text-transform: uppercase;
  color: #7a6ad8;
  background-color: rgba(250, 250, 250, 0.95);
  border-radius: 25px;
  left: 30px;
  top: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 20px;
}
.courses .latest-courses .courses-cards .content-box .content-head .price {
  position: absolute;
  right: -30px;
  top: -50px;
  background-color: rgba(122, 106, 216, 0.95);
  width: 130px;
  height: 130px;
  border-radius: 50%;
  font-size: 28px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  padding-top: 72px;
  padding-left: 22px;
  transition: all 0.3s;
  display: flex;
}
.courses .latest-courses .courses-cards .content-box .content-head .price .dollar-sign {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
}
.courses .latest-courses .courses-cards .content-box .content-body {
  padding: 20px 30px 25px 30px;
}
.courses .latest-courses .courses-cards .content-box .content-body .author {
  color: #7a6ad8;
  font-size: 15px;
  display: inline-block;
  margin-bottom: 6px;
}
.courses .latest-courses .courses-cards .content-box .content-body .content-title {
  color: #1e1e1e;
  font-size: 22px;
  font-weight: 600;
  transition: all 0.3s;
}

.statistics {
  position: relative;
  padding: 120px 0px 80px 0px;
  overflow: hidden;
  margin-bottom: 60px;
}
.statistics::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 95%;
  height: 100%;
  background-color: #7a6ad8;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
}
.statistics::after {
  background: url("https://templatemo.com/templates/templatemo_586_scholar/assets/images/contact-dec-01.png");
  position: absolute;
  left: 15%;
  opacity: 0.5;
  top: 0;
  width: 318px;
  height: 119px;
  content: "";
  z-index: 2;
}
.statistics .content-box {
  text-align: center;
  margin-bottom: 40px;
}
.statistics .content-box .amount {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 15px;
}
.statistics .content-box .content-desc {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.team {
  margin-top: 190px;
  margin-bottom: 60px;
}
.team .content-box {
  border-radius: 25px;
  padding: 140px 30px 40px 30px;
  background-color: #f1f0fe;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
}
.team .content-box:hover .content-top-img {
  transform: translateY(-5px);
}
.team .content-box .content-top-img {
  position: absolute;
  top: -120px;
  max-width: 220px;
  border-radius: 50%;
  transition: all 0.3s;
}
.team .content-box .content-body {
  text-align: center;
}
.team .content-box .content-body .role {
  color: #7a6ad8;
  font-size: 15px;
  margin-bottom: 8px;
}
.team .content-box .content-body .name {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}
.team .content-box .content-body .content-social-networks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.team .content-box .content-body .content-social-networks a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.3s;
  background-color: #fff;
}
.team .content-box .content-body .content-social-networks a:hover {
  background-color: #7a6ad8;
}
.team .content-box .content-body .content-social-networks a:hover i {
  color: #fff;
}
.team .content-box .content-body .content-social-networks a i {
  font-size: 18px;
  color: #7a6ad8;
}

.testimonials {
  position: relative;
  padding: 80px 0px;
  margin-bottom: 60px;
}
.testimonials::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 65%;
  height: 100%;
  background-color: #f1f0fe;
  content: "";
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
}
.testimonials .testimonal-slider {
  margin-right: 60px;
}
.testimonials .testimonal-slider .swiper {
  position: relative;
  padding-right: 30px;
}
.testimonials .testimonal-slider .swiper .swiper-button-next, .testimonials .testimonal-slider .swiper .swiper-button-prev {
  width: 50px;
  height: 50px;
  color: #7a6ad8;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: all 0.3s;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5px;
}
.testimonials .testimonal-slider .swiper .swiper-button-next::after, .testimonials .testimonal-slider .swiper .swiper-button-prev::after {
  font-size: 20px !important;
}
.testimonials .testimonal-slider .swiper .swiper-button-prev {
  left: auto;
  top: 43%;
}
.testimonials .testimonal-slider .swiper .swiper-button-next {
  top: 60%;
}
.testimonials .testimonal-slider .content-box {
  background-color: #7a6ad8;
  border-radius: 25px;
  padding: 80px 80px 60px 80px;
}
.testimonials .testimonal-slider .content-box .content-top-desc {
  font-size: 18px;
  line-height: 40px;
  color: #fff;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 40px;
}
.testimonials .testimonal-slider .content-box .content-main {
  display: flex;
  align-items: center;
}
.testimonials .testimonal-slider .content-box .content-main .content-left img {
  border-radius: 50%;
  max-width: 100px;
  margin-right: 25px;
}
.testimonials .testimonal-slider .content-box .content-main .content-right .role {
  font-size: 15px;
  color: #fff;
  margin-bottom: 8px;
}
.testimonials .testimonal-slider .content-box .content-main .content-right .name {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}
.testimonials .testimonials-about {
  display: flex;
  align-items: center;
  height: 100%;
}
.testimonials .testimonials-about .content-box .content-header {
  color: #7a6ad8;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
.testimonials .testimonials-about .content-box .content-title {
  font-size: 36px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 20px 0;
  line-height: 44px;
}
.testimonials .testimonials-about .content-box .content-desc {
  margin-top: 50px;
  font-size: 14px;
  line-height: 28px;
  color: #4a4a4a;
}

.events .events-header {
  color: #7a6ad8;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}
.events .events-title {
  font-size: 36px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 44px;
  margin-bottom: 50px;
  text-align: center;
}
.events .content-box {
  background-color: #f1f0fe;
  border-radius: 25px;
  padding: 40px 0px 40px 40px;
  margin-bottom: 96px;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}
.events .content-box .content-img {
  position: absolute;
  max-width: 260px;
}
.events .content-box .content-img img {
  width: 100%;
  border-radius: 25px;
}
.events .content-box .content-main {
  width: 100%;
  height: 100%;
  margin-left: 290px;
}
.events .content-box .content-main .content-titles h6 {
  font-size: 14px;
  text-transform: uppercase;
  color: #7a6ad8;
  background-color: #fff;
  padding: 8px 20px;
  border-radius: 25px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 20px;
}
.events .content-box .content-main .content-titles h2 {
  font-size: 22px;
  font-weight: 600;
  color: #1e1e1e;
}
.events .content-box .content-main ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  position: relative;
}
.events .content-box .content-main ul li {
  display: flex;
  flex-direction: column;
}
.events .content-box .content-main ul li .name {
  font-size: 14px;
  color: #4a4a4a;
  margin-bottom: 10px;
}
.events .content-box .content-main ul li label {
  font-size: 16px;
  color: #7a6ad8;
  font-weight: 600;
}
.events .content-box .content-main ul li .visit-link {
  right: 0;
  background-color: #7a6ad8;
  width: 60px;
  height: 120px;
  display: inline-block;
  text-align: center;
  line-height: 120px;
  font-size: 18px;
  color: #fff;
  border-radius: 60px 0px 0px 60px;
}

.contact-us {
  margin-top: 80px;
  margin-bottom: 30px;
  position: relative;
  padding: 50px 0px;
}
.contact-us::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 65%;
  height: 100%;
  background-color: #f1f0fe;
  content: "";
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
}
.contact-us .contact-us-text {
  margin-right: 110px;
}
.contact-us .contact-us-text .content-box .content-head {
  margin-bottom: 50px;
}
.contact-us .contact-us-text .content-box .content-head .content-header {
  color: #7a6ad8;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}
.contact-us .contact-us-text .content-box .content-head .content-title {
  font-size: 36px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 44px;
  color: #1e1e1e;
  margin-bottom: 50px;
}
.contact-us .contact-us-text .content-box .content-head .content-desc {
  font-size: 14px;
  line-height: 28px;
  color: #4a4a4a;
}
.contact-us .contact-us-text .content-box .content-body .sale-info {
  background-color: #fff;
  border-radius: 25px;
  padding: 30px 120px;
  display: flex;
  position: relative;
}
.contact-us .contact-us-text .content-box .content-body .sale-info .sale-head {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
}
.contact-us .contact-us-text .content-box .content-body .sale-info .sale-head .amount {
  left: 0;
  top: 0;
  background-color: #7a6ad8;
  width: 80px;
  padding: 30px 8px;
  line-height: 25px;
  height: 120px;
  border-radius: 15px 60px 60px 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-align: left;
}
.contact-us .contact-us-text .content-box .content-body .sale-info .sale-head .amount .number {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
}
.contact-us .contact-us-text .content-box .content-body .sale-info .sale-head .visit-link {
  margin-right: 30px;
  margin-top: 35px;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  background-color: #7a6ad8;
  color: #fff;
  border-radius: 50%;
}
.contact-us .contact-us-text .content-box .content-body .sale-info .sale-main .sale-title {
  font-size: 15px;
  color: #4a4a4a;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 15px;
}
.contact-us .contact-us-text .content-box .content-body .sale-info .sale-main .sale-title .date {
  font-style: normal;
  color: #7a6ad8;
  font-weight: 600;
}
.contact-us .contact-us-text .content-box .content-body .sale-info .sale-main .sale-desc {
  color: #1e1e1e;
  font-size: 22px;
  font-weight: 600;
}
.contact-us .contact-us-text .content-box .content-body .sale-info .sale-main .sale-desc .number {
  font-style: normal;
  color: #7a6ad8;
}
.contact-us .contact-us-form {
  overflow: hidden;
  border-radius: 25px;
  padding: 80px;
  background-color: #7a6ad8;
  position: relative;
  z-index: 1;
}
.contact-us .contact-us-form::before {
  background: url("https://templatemo.com/templates/templatemo_586_scholar/assets/images/contact-dec-01.png");
  position: absolute;
  left: 50%;
  transform: translateX(-149px);
  opacity: 0.5;
  top: 0;
  width: 318px;
  height: 119px;
  content: "";
  z-index: 2;
}
.contact-us .contact-us-form::after {
  background: url("https://templatemo.com/templates/templatemo_586_scholar/assets/images/contact-dec-02.png");
  position: absolute;
  right: 0;
  bottom: 0;
  width: 183px;
  height: 149px;
  content: "";
  z-index: 2;
}
.contact-us .contact-us-form form {
  position: relative;
  z-index: 4;
}
.contact-us .contact-us-form form input, .contact-us .contact-us-form form textarea {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  outline: none;
  border: none;
  border-radius: 25px;
  background-color: rgba(249, 235, 255, 0.15);
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  margin-bottom: 30px;
}
.contact-us .contact-us-form form input::-moz-placeholder, .contact-us .contact-us-form form textarea::-moz-placeholder {
  color: #d4d4d4;
}
.contact-us .contact-us-form form input::placeholder, .contact-us .contact-us-form form textarea::placeholder {
  color: #d4d4d4;
}
.contact-us .contact-us-form form input {
  height: 50px;
}
.contact-us .contact-us-form form textarea {
  padding: 20px;
}
.contact-us .contact-us-form form button {
  height: 50px;
  font-size: 14px;
  font-weight: 600;
  background-color: #fff;
  padding: 0px 25px;
  border-radius: 25px;
  color: #7a6ad8;
  transition: all 0.4s;
}
.contact-us .contact-us-form form button:hover {
  background-color: #d4d4d4;
}

footer {
  position: relative;
  background-color: #7a6ad8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  min-height: 150px;
  border-radius: 150px 150px 0px 0px;
  overflow: hidden;
}
footer::before {
  background: url("https://templatemo.com/templates/templatemo_586_scholar/assets/images/contact-dec-01.png");
  position: absolute;
  left: 30px;
  transform: rotate(180deg);
  opacity: 1;
  bottom: 0;
  width: 318px;
  height: 119px;
  content: "";
  z-index: 2;
}
footer p {
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}
footer p a {
  color: #fff;
  transition: all 0.3s;
  position: relative;
  z-index: 3;
}
footer p a:hover {
  color: #d4d4d4;
}

@media only screen and (min-width: 768px) {
  header .content .header-right .open-menu-btn, header .content .header-right .close-menu-btn {
    display: none !important;
  }
  header .nav-mobile {
    display: none !important;
  }
}
@media only screen and (max-width: 1220px) {
  header .content .header-left .input-box input {
    width: 100%;
  }
  header .content .header-right .nav-desktop ul {
    gap: 0;
  }
  header .content .header-right .nav-desktop ul li a {
    padding: 10px;
  }
}
@media only screen and (max-width: 992px) {
  header .content .header-left .input-box {
    display: none;
  }
  .home .hero .content .swiper .swiper-slide {
    padding-left: 0;
  }
  .home .hero .content .swiper .swiper-button-next, .home .hero .content .swiper .swiper-button-prev {
    top: 92%;
    left: auto;
  }
  .home .hero .content .swiper .swiper-button-next {
    right: 40%;
  }
  .home .hero .content .swiper .swiper-button-prev {
    left: 40%;
  }
  .home .hero .content .content-box {
    padding: 100px 60px;
    padding-bottom: 120px;
  }
  .home .hero .content .content-box .content-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .home .hero .content .content-box .content-body .content-desc {
    font-size: 36px;
    line-height: 50px;
    width: 100%;
  }
  .home .hero .content .content-box .content-body .content-subdesc {
    width: 100%;
  }
  .home .hero .content .content-box .content-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-us::after {
    display: none;
  }
  .about-us .questions {
    margin-bottom: 50px;
  }
  .about-us .about-us-box {
    margin-left: 0;
  }
  .about-us .about-us-box a {
    background-color: #7a6ad8;
    color: #fff;
  }
  .about-us .about-us-box a:hover {
    background-color: #fff;
    color: #7a6ad8;
  }
  .team {
    margin-bottom: 0;
  }
  .team .content-box {
    margin-bottom: 140px;
  }
  .testimonials {
    padding: 0;
  }
  .testimonials::after {
    display: none;
  }
  .testimonials .testimonal-slider {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .testimonials .testimonal-slider .swiper {
    padding-right: 0;
  }
  .testimonials .testimonal-slider .swiper .swiper-button-next, .testimonials .testimonal-slider .swiper .swiper-button-prev {
    display: none;
  }
  .testimonials .testimonal-slider .content-box {
    padding: 40px 40px 60px 40px;
  }
  .testimonials .testimonal-slider .content-box .content-main .content-right .name {
    font-size: 17px;
  }
  .contact-us::before {
    display: none;
  }
  .contact-us .contact-us-text {
    margin-right: 0;
  }
  .contact-us .contact-us-text .content-box .content-head .content-title {
    margin-bottom: 30px;
  }
  .contact-us .contact-us-text .content-box .content-body .sale-info {
    margin-bottom: 60px;
    padding: 34px 30px 34px 100px;
  }
  .contact-us .contact-us-text .content-box .content-body .sale-info .sale-head .visit-link {
    margin-top: 15px;
    margin-right: 15px;
  }
  .contact-us .contact-us-text .content-box .content-body .sale-info .sale-main .sale-desc {
    font-size: 17px;
  }
  .contact-us .contact-us-form {
    padding: 30px;
  }
  .events .content-box {
    padding: 0 0 40px 0;
    flex-direction: column;
    margin-top: 40px;
  }
  .events .content-box .content-img {
    padding: 0 40px;
    position: relative;
    max-width: 100%;
    transform: translateY(-40px);
  }
  .events .content-box .content-img img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .events .content-box .content-main {
    margin-left: 0;
  }
  .events .content-box .content-main .content-titles {
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  .events .content-box .content-main ul {
    overflow: hidden;
    align-items: end;
    padding-left: 40px;
  }
}
@media only screen and (max-width: 768px) {
  header {
    padding-top: 20px;
  }
  header .content .header-left .logo {
    border: none;
  }
  header .content .header-right .open-menu-btn {
    display: flex;
  }
  header .content .header-right .nav-desktop {
    display: none;
  }
  .home .hero {
    padding-top: 100px;
  }
}
@media only screen and (max-width: 600px) {
  .home .hero .content .swiper .swiper-slide {
    padding-left: 0;
  }
  .home .hero .content .swiper .swiper-button-next, .home .hero .content .swiper .swiper-button-prev {
    top: 92%;
    left: auto;
  }
  .home .hero .content .swiper .swiper-button-next {
    right: 30%;
  }
  .home .hero .content .swiper .swiper-button-prev {
    left: 30%;
  }
  .home .hero .content .content-box {
    padding: 100px 20px;
    padding-bottom: 120px;
  }
}
@media only screen and (max-width: 280px) {
  .team .content-box .content-top-img {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */